<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen" id="header1-f">

    


<h2>Доступ запрещён. Войдите в аккаунт, либо зарегестрируйтесь. При отсутствии доступа, обратитесь к администрации </h2>


<a asp-action="Register" asp-controller="Account">Регистрация</a> 
<a asp-action="Login" asp-controller="Account">Вход в аккаунт</a>
</section>