
@{
    ViewData["Title"] = "Админ панель";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen" id="header1-f">

    

    

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Файлообменник</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">В этом проекте реализовано хранение файлов на сервере, с записью в БД. Доступ ограничен, для продолжения необходимо зарегистрироваться, либо войти в аккаунт. Изначально новым пользователям присваивается Роль "Guest", для доступа к правам администратора войдите под email: "1@gmail.com" и паролем: "1".</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-info display-4" href="https://mobirise.com">Войти</a> <a class="btn btn-info display-4" href="https://mobirise.com">Регистрация</a> <a class="btn btn-black-outline display-4" href="https://mobirise.com">Перейти <br>к файлообменнику</a></div>
            </div>
        </div>
    </div>
</section>
