
@{
    ViewData["Title"] = "Вход";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FileSharer.Web.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Вход";
}
 


<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen" id="header1-f">
 <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Вход в аккаунт</strong>
            </h3>

        </div>
        

        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form class="mbr-form form-with-styler mx-auto" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                   <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Проверьте введенные данные
                        </div>
                    </div>
                    <div class="dragArea row">

                        
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <span asp-validation-for="Email" />
                            <input type="email" asp-for="Email" placeholder="Email"  class="form-control" id="email-form7-t">
                            <span asp-validation-for="Email" />
                        </div>
                        
                        <div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <span asp-validation-for="Password" />
                            <input type="password" asp-for="Password"  placeholder="Пароль"  class="form-control" id="pass">
                            <span asp-validation-for="Password" />
                        </div>

                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Войти</button>
                        </div>
                        <div class="col-auto mbr-section-btn align-center"> 
                             <a class="btn btn-primary display-4"  asp-controller="Account" asp-action="Register">Регистрация</a>            
                        </div>
                    </div>
                </form>

                
            </div>

        </div>
    </div>
</section>



</section>